.icon-btn {
  color: #fff;
}

.icon {
  background: #47c508;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Teko", sans-serif;
}

header {
  background-color: #000;
  padding: 10px 0 10px;
}
header #header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-container #openBtn {
  cursor: pointer;
}
header #header-container .logo {
  width: 95px;
  height: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #nav-links {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
header #nav-links #closeBtn {
  position: absolute;
  top: 25px;
  right: 80px;
  color: #fff;
  cursor: pointer;
}
header #nav-links a {
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  padding: 20px;
  font-size: 18px;
}
header #nav-links a:hover {
  color: #ffa500;
}

/*SECTION PRESENTATION*/
.header-presentation {
  background-image: radial-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)), url(images/ino2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0 150px;
  color: #fff;
}

/*SECTION ABOUT*/
.section-about {
  background-image: radial-gradient(#c0c0c0, #f8f8ff);
  padding: 70px 0 70px;
}
.section-about img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 7px 20px #c0c0c0;
}

/*SECTION SERVICES*/
.section-service {
  background-image: radial-gradient(rgba(20, 21, 51, 0.8), rgba(20, 21, 51, 0.8)), url(images/invest2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0 70px;
}
.section-service .section-border {
  border: 1px solid silver;
  padding: 15px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  transition: all 0.5s ease;
}
.section-service .section-border:hover {
  transform: translateY(-5px);
}
.section-service h4 {
  color: #fff;
  padding: 5px 0 0;
}
.section-service a {
  text-decoration: none;
  color: #fff;
}

/*SECTION CHOOSE*/
.section-choose {
  background: #f1ffff;
  padding: 70px 0 70px;
}
.section-choose .choose-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 1200px) {
  .section-choose .choose-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
.section-choose img {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: -7px 20px #333;
}
.section-choose .choose {
  border: 1px solid silver;
  padding: 15px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

/*REVIEW SECTION*/
.about-review {
  background-image: radial-gradient(rgba(20, 21, 51, 0.8), rgba(20, 21, 51, 0.8)), url(images/ino7.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0 90px;
}
@media (max-width: 900px) {
  .about-review {
    padding: 50px 0 50px;
  }
}
.about-review h3 {
  font-size: 40px;
  color: #fff;
}
.about-review .about-review-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (max-width: 700px) {
  .about-review .about-review-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.about-review .about-review-detail {
  background: #f8f8ff;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 20px;
  width: 50%;
}
@media (max-width: 900px) {
  .about-review .about-review-detail {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }
}
.about-review .about-review-detail img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.about-review .about-review-detail p {
  font-size: 15px;
}
.about-review #move, .about-review #move2 {
  margin-left: auto;
}
@media (max-width: 900px) {
  .about-review #move, .about-review #move2 {
    margin-left: 0;
  }
}

/*SECTION TEAM*/
.section-team {
  padding: 100px 0 100px;
}
.section-team .team-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
@media (max-width: 1000px) {
  .section-team .team-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (max-width: 780px) {
  .section-team .team-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.section-team img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*SECTION CONNECTION*/
.section-connection {
  background-image: linear-gradient(transparent, transparent), url(images/invest7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding: 70px 0 70px;
}

/*SECTION PARTNERS*/
.section-partner {
  background: #f0f8ff;
  padding: 70px 0 70px;
}
.section-partner img {
  width: 100%;
  border: 1px solid silver;
  border-radius: 25px;
  padding: 10px;
}

/*SECTION FOOTER*/
.section-footer {
  background: #444;
  padding: 100px 0 100px;
  color: #fff;
}
.section-footer a {
  text-decoration: none;
  color: #fff;
}
.section-footer a:hover {
  color: #ffa500;
}/*# sourceMappingURL=home.css.map */